*{
   margin: 0;
   padding: 0;
}
header {
   background-image: url(../assets/background-estudio.jpg);
   background-size: cover;
   height: 620px;
   margin-bottom: 3em;
}
.navbar{
   height: 8em;
   background-color: rgba(107, 99, 90, 0.379);
   position: sticky;
   top: 0;
   z-index: 1;
}
.navbar-brand img{
   width: 100%;
}
.logo-navbar{
   margin-left: 3em;
   width:10%;
}
.nav-link{
   color: rgb(243, 235, 230);
   font-weight: bold;
}
.card-title{
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   margin-top: 4em;
   margin-bottom: 2em;
}
.card-text{
   font-family: Arial, Helvetica, sans-serif;
}
.img-servicios{
   width: 70%;
   height: 70%;
}
h3{
   font-size: larger;
}
.btn-light{
   display: flex;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}
.btn-primary {
   background-color: rgba(70, 42, 25, 0.514) ;
   border: none;
}
.btn-primary:hover{
   background-color: rgb(100, 106, 108);
   border: none;
}
.texto-logo{
   font-weight: 600;
   font-size: small;
}
.logo{
   width: 60%;
}
li{
   list-style: none;
}
.descripcion-img-redes{
   font-size: smaller;
   align-items: center;
}
.ratio{
   width: 100%;
   height: max-content;
   margin-bottom: 5em;
}