/*main*/
.nesting {
   .btn-light {
      display: flex;
      justify-content: center;
      @include estilo-btn;
      &:hover {
         @include btn-hover;
      }
   }
   .titulo-servicios{
      @include titulos;
   }
}
.contenedor-contacto{
   .titulo-servicios{
      @include titulos;
   }
   .label-tel {
      margin-left: 4em;
   }
   .btn-primary {
      background-color: map-get($colores, primero);
      border: none;
      &:hover {
         @include btn-hover;
      }
   }
}