/*footer*/
.nesting-pie{
   .logo {
      width: 50%;
      height: 100%;
      /*animación del logo*/
      animation-name: move;
      @include animacion;
   }
   .texto-logo {
      font-weight: $size-letra;
      font-size: small;
   }
   .titulo-footer{
      @include titulos;
      font-family: 'Times New Roman', Times, serif;
   }
   li{
      list-style: none;
      a {
         text-decoration: none;
         color: rgb(0, 0, 0);
         &:hover {
            color: map-get($colores, quinto);
            font-weight: bold;
         }
      }
      .descripcion-img-redes {
         font-size: smaller;
      }
   }
   .ratio {
      width: 100%;
      height: max-content;
      margin-bottom: 5em;
   }
}