$colores: (
   primero:  rgba(131, 134, 134, 0.726),
   segundo: rgb(191, 189, 184),
   tercero: rgb(75, 75, 72),
   cuarto: rgba(202, 202, 202, 0.58),
   quinto:rgb(111, 106, 6),
);
$font-primary: 'Times New Roman', Times, serif;
$font-secondary: Arial, Helvetica, sans-serif;
$size-letra: 600;