$colores: (
   primero:rgb(55 59 59 / 73%),
   segundo:rgb(241, 239, 234),
   tercero:rgb(105 44 44),
   cuarto:rgba(202, 202, 202, 0.58),
   quinto:rgb(111, 106, 6),
   sexto:rgb(189, 173, 133),
);
$font-primary: 'Times New Roman', Times, serif;
$font-secondary:  "Open Sans", sans-serif;
$size-letra: 600;